/* Add extra text for merge */

@font-face {
    font-family: "Norse Font";
    src: url(./fonts/Norse-Bold.otf);
}

*{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#doc-container{
    
    display: flex;
    justify-content: space-between;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -10px 5px 10px grey;
    
}

#image-container, #space-image{
    position: relative;
    
}

#odin-logo{
    position: absolute;
    top: 0;
}

#photo-credit{
    position: absolute;
    bottom: 0;
}
