/* Add extra text for merge */

@font-face {
    font-family: "Norse Font";
    src: url(./fonts/Norse-Bold.otf);
}

*{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#doc-container{
    
    display: flex;
    justify-content: space-between;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -10px 5px 10px grey;
    background-color: rgba(225, 225, 223, 0.454);
    max-width: 1500px;
    
}
/* Left Side */
#image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 100vh;
    background-image: url("./images/ken-cheung-nBsIjqKP9hI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#logo-container{
    background-color: rgba(128, 128, 128, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#odin-logo{
   flex-basis: 100px;
   max-width: 100px;
   flex-shrink: 0;
}

#logo-container>span{
    font-family: Norse Font;
    font-size: 7rem;
    padding-top: 20px;
    padding-left: 10px ;
    color: white;
}

#photo-credit{
   align-self: center;
   margin-bottom: 10px;
   color: white;
   
}

#photo-credit>a{
    color: white;
}

/* Right Side */
#form-container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

#first-para-container, form{
    padding: 0 40px
}
form{
    background-color: white;
    /* font-size: 0.75rem; */
    padding: 20px 30px;
    overflow: hidden;
    
}

#form-header{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    
}

#input-container{
    display: flex;
    gap: 20px;

}

#first-row-container, #second-row-container{
    display: flex;
    flex-direction: column;
    
}

label{
    padding-top: 15px;
    font-size: 0.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    
    
}